from settings.base import *

DATABASES = {
    'default': dj_database_url.config(default=os.environ.get('DATABASE_URL')),
}

STATICFILES_DIRS = (
    os.path.join(BASE_DIR, 'catalog/static'),
)
STATIC_URL = '/static/'
STATIC_ROOT = os.path.join(BASE_DIR, 'staticfiles')

DEBUG = True
