
<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Simple Library{% endblock %}</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'catalog/sidebar.css' %}">
<body>
<div class="topnav">
<form  action="{% url 'catalog:searchBook' %}" method="get">
  <input id="search_filed" name="search" type="text" placeholder="Search...">
</form>
</div>
    <div class="sidenav">
        <p>{{ user.username }}</p>
        <a href="{% url 'catalog:borrowed' %}">Borrowed books</a>
		<a href="{% url 'catalog:index' %}">Homepage</a>
		<a href="{% url 'catalog:author' %}">All authors</a>
		<a href="{% url 'catalog:book' %}">All books</a>
        <a id ="logout" href="{% url 'logout' %}">logout</a>
	</div>
    <div  class="main">

    {% block content %}
    {% endblock %}
    </div>




</body>
</html>
