<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Simple Library{% endblock %}</title>
</head>
<body>
<main>
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    {% block content %}
    {% endblock %}
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <p><a href="{% url 'password_reset' %}">reset password</a></p>
    {% endif %}


</main>

</body>
</html>
