<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ book.name }}</h1>
<p>
    {{ book.summary }}
</p>
<p>
    {{ book.author }}
</p>
<p>
    <h2>genres available for this book </h2>
    <ul>
    {%  for p in book.genres.all %}
    <li> {{ p.name }}</li>
    {% endfor %}
    </ul>

</p>

<p>
    <h2>languages available for this book </h2>
    <ul>
    {%  for p in book.languages.all %}
    <li> {{ p.name }}</li>
        <ul>
    {%  for pp in book.bookinstance_set.all %}
            {% if p.name == pp.language.name %}
            <li> {{ pp.due_back_date }} {{pp.language}}</li>
            {% if pp.status == 'a' %}
                <button>reserve</button>
            {% endif %}
            {% endif %}
    {% endfor %}
        </ul>



    {% endfor %}
    </ul>

</p>

<p>
    hi
    <ul>
    {%  for pp in book.bookinstance_set.all %}
    <li> {{ pp.due_back_date }} {{pp.language}}</li>
    {% endfor %}
     </ul>

</p>

</body>
</html>